<a href="https://colab.research.google.com/github/Madhurigg/FMML_ASSIGNMENTS/blob/main/list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def find_max_min(numbers):
    if not numbers:
        return None, None  # return None for both max and min if the list is empty
    else:
        maximum = max(numbers)
        minimum = min(numbers)
        return maximum, minimum

# Example usage:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
max_value, min_value = find_max_min(numbers)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

In [ ]:
def calculate_sum_and_average(numbers):
    if not numbers:
        return None, None  # return None for both sum and average if the list is empty
    else:
        total_sum = sum(numbers)
        average = total_sum / len(numbers)
        return total_sum, average

# Example usage:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
total_sum, average = calculate_sum_and_average(numbers)
print("Sum of all numbers:", total_sum)
print("Average of all numbers:", average)

Sum of all numbers: 39
Average of all numbers: 3.9

In [ ]:
def sort_list(numbers):
    if not numbers:
        return None, None  # return None for both ascending and descending sorted lists if the input list is empty
    else:
        ascending_sorted = sorted(numbers)
        descending_sorted = sorted(numbers, reverse=True)
        return ascending_sorted, descending_sorted

# Example usage:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
ascending_sorted, descending_sorted = sort_list(numbers)
print("Ascending order:", ascending_sorted)
print("Descending order:", descending_sorted)

Ascending order: [1, 1, 2, 3, 3, 4, 5, 5, 6, 9]
Descending order: [9, 6, 5, 5, 4, 3, 3, 2, 1, 1]

In [ ]:
def reverse_list(input_list):
    input_list.reverse()
    return input_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
def count_occurrences(input_list, element):
    return input_list.count(element)

# Example usage:
my_list = [1, 2, 3, 4, 1, 2, 1, 3, 4, 5]
specific_element = 1
occurrences = count_occurrences(my_list, specific_element)
print(f"The element {specific_element} occurs {occurrences} times in the list.")

The element 1 occurs 3 times in the list.

In [ ]:
def remove_duplicates(input_list):
    seen = set()
    output_list = []
    for item in input_list:
        if item not in seen:
            output_list.append(item)
            seen.add(item)
    return output_list

# Example usage:
my_list = [1, 2, 3, 1, 2, 4, 5, 3, 6]
result = remove_duplicates(my_list)
print("List after removing duplicates:", result)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

In [ ]:
def combine_lists(list1, list2):
    combined_list = list1 + list2
    return combined_list

# Example usage:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = combine_lists(list1, list2)
print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

In [ ]:
def split_list(input_list):
    even_indexed = input_list[::2]  # Selecting elements at even indices
    odd_indexed = input_list[1::2]  # Selecting elements at odd indices
    return even_indexed, odd_indexed

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_indexed, odd_indexed = split_list(my_list)
print("Even-indexed elements:", even_indexed)
print("Odd-indexed elements:", odd_indexed)

Even-indexed elements: [1, 3, 5, 7, 9]
Odd-indexed elements: [2, 4, 6, 8, 10]

In [ ]:
def find_index(input_list, target):
    try:
        index = input_list.index(target)
        return index
    except ValueError:
        return None  # If target element is not found in the list

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
target_element = 5
index = find_index(my_list, target_element)
if index is not None:
    print(f"The index of the first occurrence of {target_element} is: {index}")
else:
    print(f"The element {target_element} is not found in the list.")

The index of the first occurrence of 5 is: 4

In [ ]:
def check_membership(input_list, target):
    return target in input_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
target_element = 3
if check_membership(my_list, target_element):
    print(f"The element {target_element} is present in the list.")
else:
    print(f"The element {target_element} is not present in the list.")

The element 3 is present in the list.

In [ ]:
def find_common_elements(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    common_elements = list(set1.intersection(set2))
    return common_elements

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = find_common_elements(list1, list2)
print("Common elements:", common_elements)

Common elements: [4, 5]

In [ ]:
def merge_lists(list1, list2):
    merged_list = list(zip(list1, list2))
    return merged_list

# Example usage:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
merged_list = merge_lists(list1, list2)
print("Merged list of tuples:", merged_list)

Merged list of tuples: [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
def split_string_to_list(input_string):
    return input_string.split(',')

# Example usage:
input_string = "apple,banana,orange,grape"
result_list = split_string_to_list(input_string)
print("List of individual elements:", result_list)

List of individual elements: ['apple', 'banana', 'orange', 'grape']

In [ ]:
def check_list_equality(list1, list2):
    return list1 == list2

# Example usage:
list1 = [1, 2, 3, 4]
list2 = [1, 2, 3, 4]

if check_list_equality(list1, list2):
    print("The lists are equal.")
else:
    print("The lists are not equal.")

The lists are equal.

In [ ]:
def shallow_copy_using_slicing(input_list):
    return input_list[:]

# Example usage:
original_list = [1, 2, 3, 4]
copied_list = shallow_copy_using_slicing(original_list)
print("Original list:", original_list)
print("Copied list using slicing:", copied_list)

Original list: [1, 2, 3, 4]
Copied list using slicing: [1, 2, 3, 4]

In [ ]:
def shallow_copy_using_copy_method(input_list):
    return input_list.copy()

def shallow_copy_using_slicing(input_list):
    return input_list[:]

# Example usage:
original_list = [1, 2, 3, 4]

# Using the copy() method
copied_list_1 = shallow_copy_using_copy_method(original_list)
print("Copied list using copy() method:", copied_list_1)

# Using the slicing technique
copied_list_2 = shallow_copy_using_slicing(original_list)
print("Copied list using slicing technique:", copied_list_2)

Copied list using copy() method: [1, 2, 3, 4]
Copied list using slicing technique: [1, 2, 3, 4]

In [ ]:
def is_sublist(list1, list2):
    len_list2 = len(list2)
    for i in range(len(list1) - len_list2 + 1):
        if list1[i:i+len_list2] == list2:
            return True
    return False

# Example usage:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [3, 4, 5]
if is_sublist(list1, list2):
    print("The second list is a sublist of the first list.")
else:
    print("The second list is not a sublist of the first list.")

The second list is a sublist of the first list.

In [ ]:
def join_strings(input_list, delimiter):
    return delimiter.join(input_list)

# Example usage:
string_list = ["apple", "banana", "orange", "grape"]
delimiter = ", "  # specify the delimiter
result_string = join_strings(string_list, delimiter)
print("Joined string:", result_string)

Joined string: apple, banana, orange, grape

In [ ]:
def remove_element(input_list, element_to_remove):
    return [x for x in input_list if x != element_to_remove]

# Example usage:
original_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
result_list = remove_element(original_list, element_to_remove)
print("List after removing element:", result_list)

List after removing element: [1, 3, 4, 5]

In [ ]:
def rotate_list(input_list, k):
    n = len(input_list)
    k = k % n  # Ensure k is within the range of list length
    rotated_list = input_list[-k:] + input_list[:-k]
    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
k = 2
rotated_list = rotate_list(my_list, k)
print("Original list:", my_list)
print(f"List rotated to the right by {k} positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated to the right by 2 positions: [4, 5, 1, 2, 3]

In [ ]:
def find_unique_elements(input_list):
    seen = set()
    unique_elements = []
    for item in input_list:
        if item not in seen:
            unique_elements.append(item)
            seen.add(item)
    return unique_elements

# Example usage:
original_list = [1, 2, 3, 2, 4, 5, 1, 3, 6]
unique_elements = find_unique_elements(original_list)
print("List with unique elements:", unique_elements)

List with unique elements: [1, 2, 3, 4, 5, 6]